# Database Connection
FINERACT_DEFAULT_TENANTDB_HOSTNAME=${{MARIADBHOST}}
FINERACT_DEFAULT_TENANTDB_PORT=${{MARIADBPORT}}
FINERACT_DEFAULT_TENANTDB_UID=${{MARIADBUSER}}
FINERACT_DEFAULT_TENANTDB_PWD=${{MARIADBPASSWORD}}
FINERACT_DEFAULT_TENANTDB_CONN_STR=jdbc:mysql://${{MARIADBHOST}}:${{MARIADBPORT}}/${{MARIADBDATABASE}}

# Security
# Set these to your preferred values
FINERACT_HIKARI_MINIMUM_IDLE=5
FINERACT_HIKARI_MAXIMUM_POOL_SIZE=10
FINERACT_HIKARI_IDLE_TIMEOUT=600000
FINERACT_HIKARI_MAX_LIFETIME=1800000
